@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
}

a {
  color: #84309c;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  background: #070707;
}

.fc-authkit-qrcode-dialog {
  color: #646d7a;
  align-items: center;
  justify-content: center;
  text-align: center;
}
